@font-face {
	font-family: "BitterRegular";
	src: url("../fonts/BitterRegular.eot");
	src: url("../fonts/BitterRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BitterRegular.woff") format("woff"),
	url("../fonts/BitterRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body{
	font-size: 12px;
	color: #646464;
}

h1 {
    color: #272727;
    font-size: 22px;
    letter-spacing: .9px;
    font-family: 'BitterRegular';
    padding-bottom: 17px;
    margin: 20px 0 20px 0;
}

.row{
	min-width: 940px;
	width: 940px;
	margin: 0 auto;
}
#header{
	background: #900615;
}
#header .top-menu{
	height: 45px;
}
#header .top-menu ul.tm-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
#header .top-menu ul.tm-list li.tm-item{
	float: left;
	margin: 13px 0 0;
}
#header .top-menu ul.tm-list li.tm-item.last{
	margin-right: 0;
}
#header .top-menu ul.tm-list li.tm-item .links{
	float: left;
}
#header .top-menu ul.tm-list li.tm-item .links a.tm-link{
	text-decoration: none;
	color: #fefefe;
	font-family: 'BitterRegular';
	font-size: 12px;
	letter-spacing: .5px;
	padding: 5px 10px 4px
}
#header .top-menu ul.tm-list li.tm-item .links a.tm-link:hover{
	background: #201c33;
}
#header .top-menu ul.tm-list li.tm-item .sep{
	float: left;
	background: #fff;
	width: 1px;
	height: 9px;
	margin: 5px 5px 0px;
	opacity: .3;
	filter: alpha(opacity=30);
}
#header .top-menu ul.tm-list li.tm-item.last .sep{
	display: none;
}
#top-info{
	position: relative;
	width: 100%;
}
#top-info .row{
	padding: 37px 0 36px;
}
#top-info .name-comp{
	font-size: 26px;
	color: #340a16;
	letter-spacing: .8px;
	font-family: 'BitterRegular';
    margin: -7px 0 0 0;
}
#top-info .name-comp span{
	display: block;
	text-transform: uppercase;
	font-size: 9px;
	margin-top: -5px;
}
#top-info .adress{
	background: url(../img/baloon-ico.jpg) no-repeat 1px 4px;
	padding-left: 23px;
	font-size: 10px;
	color: #747474;
	letter-spacing: -.6px;
	line-height: 1.2;
}
#top-info .phone{
	background: url(../img/phone-ico.png) no-repeat 5px 4px;
	padding-left: 30px;
}
#top-info .phone a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	letter-spacing: .2px;
	line-height: 19px;
	font-family: 'BitterRegular';
}
#top-info .phone span{
	display: block;
	font-size: 8px;
	color: #747474;
}
#slider{
	position: relative;
	width: 100%;
	height: 268px;
	margin-bottom: 1px;
}
#slider .sl-mask{
	right: 50%;
	margin-right: 188px;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background:#3B2A50;
	opacity: .6;
	filter: alpha(opacity=60);
}
#slider .sl-mask:after{
	content: '';
	position: absolute;
	right: -135px;
	top: 0;
	bottom: 0;
	width: 300px;
	background: #3B2A50;
	-webkit-transform: skewX(135deg);
	-moz-transform: skewX(135deg);
	-ms-transform: skewX(135deg);
	-o-transform: skewX(135deg);
	transform: skewX(135deg);
}
#slider .sl-info{
	padding: 40px 0 0;
	text-align: center;;
}
#slider .sli-name{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 17px;
	letter-spacing: .7px;
	margin-right: 34px;
	color: #fff;
	font-family: 'BitterRegular';
}
#slider .sli-text{
	font-size: 11px;
	margin-bottom: 30px;
	margin-left: 122px;
	width: 250px;
	letter-spacing: -.2px;
	line-height: 1.4;
	color: #fff;
}
#slider .sl-info a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	background: #900615;
	padding: 7px 28px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-right: 27px;
}
#submenu{
	width: 100%;
	background: #f2f0f1;
}
#slider .sl-info a:hover{
	background: #b40b1e;
}
#submenu .row{
	padding: 21px 0 17px;
}
#submenu .block-ico{
	width: 239px;
	margin: auto;
    border-right: 1px solid #e8d8db;
    padding-right: 45px;
    text-align: center;
    display: block;
    cursor: pointer;
}
#submenu .block-ico:hover {
    text-decoration: none;
}

#submenu .block-ico.first{
	border-left: 1px solid #e8d8db;
	padding-left: 48px;
}
#submenu .block-ico .icon{
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
}
#submenu .block-ico .icon.ico1{
	background: url(../img/ico1.png) no-repeat center center;
}
#submenu .block-ico .icon.ico2{
	background: url(../img/ico2.png) no-repeat center center;
}
#submenu .block-ico .icon.ico3{
	background: url(../img/ico3.png) no-repeat center center;
}
#submenu .block-ico .txt{
	display: table;
    font-size: 15px;
    font-family: 'BitterRegular';
    color: #919096;
    line-height: 1;
}
#submenu .block-ico .txt span{
	display: table-cell;
	    vertical-align: middle;
	    height: 25px;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content h1{
	color: #272727;
	font-size: 22px;
	letter-spacing: .9px;
	font-family: 'BitterRegular';
	padding-bottom: 17px;
	margin: 0;
}

#content h2 {
    color: #564e4c;
    font-size: 18px;
    letter-spacing: .9px;
    font-family: 'BitterRegular';
    padding-bottom: 17px;
    margin: 0;
}

}
#content .main-text{
	line-height: 1.3;
	letter-spacing: .4px;
}
#content .main-text p{
	margin: 0 0 12px;
}
#content .main-text p b{
    color: #900615;
}
#content .main-text p a{
    color: #900615;
    text-decoration: underline;
}
#content .main-text img{
	margin: 0 0 10px 20px;
}

#content .main-text table {
    width: 100%;
    margin: 20px 0 20px 0;
}

#content .main-text table tr {

}

#content .main-text table tr th {
    background: #564e4c;
    padding: 5px;
    color: white;
    text-align: center;
    border-right: 1px solid white;
}
#content .main-text table tr th:last-child {
    border-right: 1px solid #564e4c;
}

#content .main-text table tr td {
    padding: 5px;
    text-align: center;
    border-right: 1px solid #564e4c;
    border-top: 1px solid #564e4c;
    border-bottom: 1px solid #564e4c;
}
#content .main-text table tr td:first-child {
    border-left: 1px solid #564e4c;
}

#news-list-index .row{

}
#news-list-index h2{
	color: #272727;
	font-size: 21px;
	font-family: 'BitterRegular';
	border-bottom: 1px solid #f6f6f6;
	padding-bottom: 10px;
	margin: 0 0 25px 0;
	text-transform: uppercase;
}

#news-list-index .news-item {
    width: 100%;
}

#news-list-index .news-item .content {
    float: left;
    width: 65%;
}

#news-list-index .news-item .content .date {
    background-color: #900615;
    padding: 5px;
    color: white;
    display: inline;
}

#news-list-index .news-item .content .name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #646464;
    font-size: 14px;
    text-decoration: underline;
}

#news-list-index .news-item .content .text {

}

#news-list-index .news-item img {
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    width: 35%;
}

.right-border {
    border-right: 1px solid #f6f6f6;
}

#footer {
    font-family: 'BitterRegular';
    padding: 20px;
    box-sizing: border-box;
    background: #201c33;
}

#footer .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-menu li {
    float: left;
    margin-right: 20px;
}

#footer .footer-menu li a {
    color: white;
    font-size: 14px;
}
#footer .footer-menu li a:hover {
    color: #900615;
    text-decoration: none;
}

#footer .additional {
    margin-top: 50px;
}

#footer .copyright {
    font-size: 10px;
    color: white;
}

#footer .social-links {
    list-style: none;
}

#footer .social-links li {
    float: left;
}

#footer .social-links li a {

}

#footer .social-links .tw {

}

#footer .social-links .fb {

}

#footer .social-links .vk {

}

#footer .social-links .ok {

}

#footer .contacts {
    font-size: 10px;
    list-style: none;
    color: white;
    padding: 0;
}

#footer .contacts .mail-icon {

}

#footer .contacts .mail {
    color: white;
}

#footer .contacts .point-icon {

}

#footer .contacts .point {

}

#footer .contacts .clock-icon {

}

#footer .contacts .clock {

}

#footer .description {
    font-size: 10px;
    color: white;
}

#footer .phone {
    font-size: 18px;
    color: #900615;
    text-decoration: none;
}

#news-list {

}

#news-list .pagination {
    margin: 0 auto;
    display: table;
}

#news-list .pagination a, #news-list .pagination span {
    border: 0;
    color: #646464;
}

#news-list .pagination span {
    color: #900615;
}

#news-list .pagination a:hover, #news-list .pagination span:hover {
    background: none;
}

#news-list .pagination a:hover {
    color: #900615;
}

#news-list h1 {

}

#news-list .news-items {
    list-style: none;
    padding: 0;
}

#news-list .news-items .news-item {
    width: 100%;
    display: block;
    border-bottom: 1px solid #919096;;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#news-list .news-items .news-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

#news-list .news-items .news-item img {
    width: 20%;
    padding-right: 20px;
    box-sizing: border-box;
    float: left;
}

#news-list .news-items .news-item .content {
    width: 80%;
    float: left;
}

#news-list .news-items .news-item .content .date {
    background-color: #900615;
    padding: 5px;
    color: white;
    display: inline;
}

#news-list .news-items .news-item .content .header {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #646464;
    font-size: 14px;
}

#news-list .news-items .news-item .content .text {

}

#news-list .news-items .news-item .content .link {
    border: 1px solid #900615;
    padding: 5px 15px 5px 15px;
    display: inline;
    float: right;
    margin-top: 15px;
    color: #646464;
}
#news-list .news-items .news-item .content .link:hover {
    text-decoration: none;
}

#feedback {
    padding: 20px 0 20px 0;
    background: #ebebeb;
}

#feedback h2 {
    color: #646464;
    font-size: 22px;
    letter-spacing: .9px;
    font-family: 'BitterRegular';
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 1px solid #c0bebd;
}

#feedback p {
    padding-top: 20px;
}

#feedback form {

}

#feedback input[type=text] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #900615;
}

#feedback textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #900615;
}

#feedback input[type=submit] {
    float: right;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    background: #201c33;
    color: white;
    border: 0;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
}